/*
The take photo button CSS
*/

#container-circles {
  position: absolute;
  left: 50%;
  bottom: 90px;
}

#outer-circle {
  position: absolute;
  left: -37px;

  height: 75px;
  width: 75px;

  /*
    opacity of 0.4
  */
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;

  z-index: 1;
}

#inner-circle {
  position: absolute;
  left: 50%;
  top: 38px;

  height: 44px;
  width: 44px;

  background: white;
  border-radius: 50%;

  /*
   Offset the position correctly with
   minus half of the width and minus half of the height
  */
  margin: -22px 0px 0px -22px;

  /*
    On the top of outer-circle
  */
  z-index: 2;
}

#inner-circle.is-clicked {
  height: 38px;
  width: 38px;
  margin: -19px 0px 0px -19px;
}



/*
The video/picture css
*/

/* fullscreen enable by props */
video, img {
  width: 100vw;
  height:100vh;
}
video {
  -o-object-fit: fill;
     object-fit: fill;
}
.display-error {
  width: 100vw;
  height:100vh;
}

/*
The spinner css
*/
.css-0{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 120px;
  transform: translate(-50%, -50%);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
  animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 120px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 120px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 120px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 120px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}